#top-bar{
    height: 50px;
}
#box-top-bar{
    height: 30px;
}
#box-top-bar > p{
    text-align: center;
    color: white;
    margin-top: 3px;
}
#pass-desc{
    font-size: 12px;
}
#user-desc{
    font-size: 12px;
}
@media screen and (max-width:768px) {
    #pass-desc{
        font-size: 8px;
    }
    #user-desc{
        font-size: 8px;
    }
}